/* RGB(128, 0, 0)  bordeux scuro*/
/* rgb(238, 238, 238) primary color ufficiale*/
/* RGB(189, 201, 176) verde salvia*/
header {
  background-color: RGB(128, 0, 0);
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  font-size: 20px;
}
header .logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
header nav li {
  padding: 10px;
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav a:hover {
  color: orange;
}
header .menu-mobile {
  display: none;
}
header .menu-mobile .dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}
header .menu-mobile .dropdown img {
  height: 2rem;
}
header .menu-mobile .dropdown ul {
  display: none;
}
header .menu-mobile .dropdown:hover ul {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 60px;
  padding-left: 0;
  background-color: RGB(128, 0, 0);
}
header .menu-mobile .dropdown:hover ul li {
  margin: 10px 10px;
  border-bottom: 1px solid white;
}
header .menu-mobile .dropdown:hover ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 700px) {
  header nav {
    display: none;
  }
  header .menu-mobile {
    display: block;
  }
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 100%;
}
.home img {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}
.home .description {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.home .description h1 {
  margin: 0;
  font-size: xx-large;
}
.home .description p {
  margin: 0;
  font-size: x-large;
}
.home .description button {
  color: white;
  width: 33%;
  font-size: large;
  margin-top: 100px;
  height: 5rem;
  border-radius: 10px;
  background-color: RGB(128, 0, 0);
  border-style: none;
  transition: opacity 0.3s;
  margin-right: 30px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}
.home .description button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.home .description button:active {
  opacity: 0.5;
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .home img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  .home .description {
    width: 90%;
  }
  .home .description h1 {
    font-size: 40px;
  }
  .home .description p {
    font-size: 15px;
  }
  .home .description .btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home .description .btn button {
    width: 100px;
    margin-top: 30px;
  }
}
@media (min-width: 701px) and (max-width: 1199px) {
  .home {
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .home img {
    width: 350px;
    height: 350px;
    margin-top: 50px;
  }
  .home .description {
    width: 90%;
  }
  .home .description h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .home .description p {
    text-align: center;
    font-size: 15px;
  }
  .home .description .btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home .description .btn button {
    width: 150px;
    margin-top: 30px;
  }
}
.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-container h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 5rem;
}
.about-container .about-me {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  margin-bottom: 40px;
}
.about-container .about-me .story {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  align-items: top;
  margin-left: 8%;
}
.about-container .about-me .story h2 {
  margin: 0;
  font-size: xx-large;
}
.about-container .about-me .story p {
  margin: 0;
  font-size: large;
}
.about-container .about-me .skills-container {
  display: flex;
}
.about-container .about-me .skills-container .skill-mobile {
  display: none;
}
.about-container .about-me .skills-container .written-skills {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: end;
  padding-right: 20px;
  font-size: xx-large;
}
.about-container .about-me .skills-container .skills {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: 900;
  flex-wrap: wrap;
}
.about-container .about-me .skills-container .skills ul {
  padding: 0;
  list-style-type: none;
}
.about-container .about-me .skills-container .skills-logos {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 400px;
}
.about-container .about-me .skills-container .skills-logos img {
  display: flex;
  width: 50%;
  height: 4em;
}
.about-container a {
  display: flex;
  justify-content: center;
}
.about-container a .gallery {
  display: flex;
  width: 80%;
  height: 20em;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.about-container a .gallery .first-img {
  width: 33.3333%;
  border-radius: 20px 0 0 20px;
}
.about-container a .gallery .second-img {
  width: 33.3333%;
}
.about-container a .gallery .third-img {
  width: 33.3333%;
  border-radius: 0 20px 20px 0;
}
.about-container a .gallery .overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  color: RGB(128, 0, 0);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 20px;
  backdrop-filter: blur(3px);
  font-size: 2em;
  font-weight: 900;
}
.about-container a .gallery .overlay:hover {
  cursor: pointer;
  opacity: 1;
}
.about-container .btn-gallery {
  display: none;
}

@media (max-width: 700px) {
  .about-container {
    padding: 0;
  }
  .about-container h1 {
    margin-bottom: 0;
    font-size: 4rem;
  }
  .about-container .about-me {
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  .about-container .about-me .story {
    margin: 1px;
    text-align: center;
  }
  .about-container .about-me .skills-container {
    flex-direction: column;
  }
  .about-container .about-me .skills-container .skill-mobile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .about-container .about-me .skills-container .written-skills {
    display: none;
    flex: 0;
  }
  .about-container .about-me .skills-container .skills {
    display: none;
  }
  .about-container .about-me .skills-container .skills-logos {
    padding: 0;
    flex: 0;
    flex-direction: row;
  }
  .about-container .about-me .skills-container .skills-logos img {
    width: 50%;
  }
  .about-container a {
    display: none;
  }
  .about-container .btn-gallery {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .about-container .btn-gallery button {
    color: white;
    width: 33%;
    font-size: large;
    height: 5rem;
    border-radius: 10px;
    background-color: RGB(128, 0, 0);
    border-style: none;
    transition: opacity 0.3s;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
  }
}
@media (min-width: 701px) and (max-width: 1199px) {
  .about-container .about-me {
    flex-direction: column;
  }
  .about-container .about-me .story {
    margin-bottom: 30px;
    margin-left: 0;
  }
  .about-container .about-me .skills-container .written-skills {
    align-items: flex-start;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .about-container a .gallery .first-img {
    width: 50%;
  }
  .about-container a .gallery .second-img {
    width: 50%;
    border-radius: 0 20px 20px 0;
  }
  .about-container a .gallery .third-img {
    display: none;
  }
}
.projects-container {
  padding-top: 75px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-container h1 {
  margin-bottom: 20px;
  font-size: 5rem;
}
.projects-container .grid {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.projects-container .grid .first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projects-container .grid .second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projects-container .grid .project {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: transform 0.5s;
  width: 25%;
}
.projects-container .grid .project:hover {
  transform: scale(1.07);
}
.projects-container .grid .project .project-img {
  border-bottom: 1px solid black;
  height: 200px;
  border-radius: 10px;
}
.projects-container .grid .project .project-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.projects-container .grid .project .project-description {
  display: flex;
}
.projects-container .grid .project .project-description .logo {
  border-right: 1px solid black;
}
.projects-container .grid .project .project-description .logo img {
  max-width: 100%;
  max-height: 100%;
}
.projects-container .grid .project .project-description p {
  display: flex;
  justify-content: center;
  flex: 2;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 700px) {
  .projects-container h1 {
    font-size: 4rem;
  }
  .projects-container .grid .first-row {
    flex-direction: column;
    align-items: center;
  }
  .projects-container .grid .second-row {
    flex-direction: column;
    align-items: center;
  }
  .projects-container .grid .project {
    width: 70%;
  }
}
@media (min-width: 701px) and (max-width: 1199px) {
  .projects-container .grid {
    flex-direction: row;
    width: 90%;
  }
  .projects-container .grid .first-row {
    flex-direction: column;
    width: 50%;
    align-items: center;
  }
  .projects-container .grid .second-row {
    flex-direction: column;
    width: 50%;
    align-items: center;
  }
  .projects-container .grid .project {
    width: 90%;
  }
}
.form-container {
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container h1 {
  padding-bottom: 30px;
  font-size: 5rem;
}
.form-container form {
  width: 50%;
}
.form-container form ::placeholder {
  font-size: larger;
}
.form-container form .first-row {
  display: flex;
  justify-content: space-between;
}
.form-container form .second-row {
  display: flex;
  justify-content: space-between;
}
.form-container form input {
  width: 45%;
  height: 3em;
  border: 2px solid RGB(128, 0, 0);
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}
.form-container form textarea {
  margin-top: 10px;
  width: 100%;
  height: 10em;
  border-radius: 10px;
  border: 2px solid RGB(128, 0, 0);
  resize: vertical;
  max-height: 15em;
  outline: none;
}
.form-container .btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 3em;
}
.form-container .btn button {
  width: 30%;
  border: 2px solid RGB(128, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  background-color: RGB(128, 0, 0);
  color: white;
  font-size: 1rem;
}
.form-container .btn button:active {
  opacity: 0.5;
}

@media (max-width: 700px) {
  .form-container h1 {
    font-size: 4rem;
  }
  .form-container form {
    width: 90%;
  }
}
@media (min-width: 701px) and (max-width: 999px) {
  .form-container form {
    width: 90%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: RGB(128, 0, 0);
  color: white;
}
footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
  }
  footer p {
    margin-bottom: 10px;
  }
}
/* RGB(128, 0, 0)  bordeux scuro*/
/* rgb(238, 238, 238) primary color ufficiale*/
/* RGB(189, 201, 176) verde salvia*/
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(to top, rgb(238, 238, 238), rgb(205, 205, 205));
  color: black;
}

span {
  font-weight: 900;
  color: RGB(128, 0, 0);
}

/* background: linear-gradient(135deg, rgb(25, 42, 86), rgb(35, 35, 35));
 */