nav {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding: 20px;
}
nav a {
  color: orange;
}
nav a:hover {
  color: black;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: bisque;
}
.home img {
  display: flex;
  align-items: center;
  width: 270px;
  height: 35s0px;
  border-radius: 150px;
}
.home .description {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.home .description h1 {
  margin: 0;
}
.home .description p {
  margin: 0;
}

.about-container {
  background-color: rgb(196, 220, 215);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.about-container .about-me {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: center;
  height: 300px;
}
.about-container .about-me .story {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: top;
}
.about-container .about-me .story h1 {
  margin: 0;
}
.about-container .about-me .story p {
  margin: 0;
}
.about-container .about-me .written-skills {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: end;
  padding-right: 20px;
  font-size: xx-large;
}
.about-container .about-me .skills {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bolder;
  flex-wrap: wrap;
}
.about-container .about-me .skills ul {
  padding: 0;
  list-style-type: none;
}
.about-container .about-me .skills-logos {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  padding-left: 20px;
}
.about-container .about-me .skills-logos img {
  display: flex;
  object-fit: contain;
  width: 50%;
  height: 4em;
  padding-bottom: 10%;
}
.about-container a {
  display: flex;
  justify-content: center;
}
.about-container a .gallery {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 10em;
  background-color: aqua;
  cursor: pointer;
}

.projects-container {
  padding-top: 300px;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}
.projects-container .grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}
.projects-container .grid .project {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 25px;
}
.projects-container .grid .project .project-img {
  border-bottom: 1px solid black;
  height: 7em;
}
.projects-container .grid .project .project-description {
  display: flex;
}
.projects-container .grid .project .project-description .logo {
  border-right: 1px solid black;
  height: 2em;
}
.projects-container .grid .project .project-description .logo img {
  max-width: 100%;
  max-height: 100%;
}
.projects-container .grid .project .project-description p {
  display: flex;
  justify-content: center;
  flex: 2;
}

* {
  margin: 0;
}