/* RGB(128, 0, 0)  bordeux scuro*/
/* rgb(238, 238, 238) primary color ufficiale*/
/* RGB(189, 201, 176) verde salvia*/
nav {
  background-color: RGB(128, 0, 0);
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
}
nav img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: orange;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 100%;
}
.home img {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.home .description {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.home .description h1 {
  margin: 0;
  font-size: xx-large;
}
.home .description p {
  margin: 0;
  font-size: x-large;
}
.home .description button {
  color: white;
  width: 33%;
  font-size: large;
  margin-top: 100px;
  height: 4em;
  border-radius: 10px;
  background-color: RGB(128, 0, 0);
  border-style: none;
  transition: opacity 0.3s;
  margin-right: 30px;
}
.home .description button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.home .description button:active {
  background-color: rgb(35, 35, 35);
  opacity: 0.5;
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .home img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  .home .description {
    width: 90%;
  }
  .home .description h1 {
    font-size: 40px;
  }
  .home .description p {
    font-size: 15px;
  }
  .home .description button {
    margin-top: 10px;
  }
}
@media (min-width: 701px) and (max-width: 999px) {
  .home {
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .home img {
    width: 350px;
    height: 350px;
    margin-top: 50px;
  }
  .home .description {
    width: 90%;
  }
  .home .description h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .home .description p {
    font-size: 15px;
  }
  .home .description .btn {
    display: flex;
    justify-content: center;
  }
  .home .description .btn button {
    margin: 10px;
  }
}
.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.about-container h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 70px;
}
.about-container .about-me {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  height: 400px;
}
.about-container .about-me .story {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: top;
  margin-left: 8%;
}
.about-container .about-me .story h2 {
  margin: 0;
  font-size: xx-large;
}
.about-container .about-me .story p {
  margin: 0;
  font-size: large;
}
.about-container .about-me .skill-mobile {
  display: none;
}
.about-container .about-me .written-skills {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: end;
  padding-right: 20px;
  font-size: xx-large;
}
.about-container .about-me .skills {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bolder;
  flex-wrap: wrap;
}
.about-container .about-me .skills ul {
  padding: 0;
  list-style-type: none;
}
.about-container .about-me .skills-logos {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}
.about-container .about-me .skills-logos img {
  display: flex;
  object-fit: contain;
  width: 50%;
  height: 4em;
  padding-bottom: 10%;
}
.about-container a {
  display: flex;
  justify-content: center;
}
.about-container a .gallery {
  display: flex;
  width: 80%;
  height: 20em;
  background-color: red; /* RGB(238, 238, 238) */
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.about-container a .gallery .first-img {
  border-radius: 20px 0 0 20px;
  display: flex;
  flex: 1;
}
.about-container a .gallery .second-img {
  border-radius: 0;
  display: flex;
  flex: 1;
}
.about-container a .gallery .third-img {
  border-radius: 0 20px 20px 0;
  display: flex;
  flex: 1;
}

@media (max-width: 700px) {
  .about-container {
    padding: 0;
  }
  .about-container .about-me {
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  .about-container .about-me .skill-mobile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .about-container .about-me .story {
    flex: 0;
  }
  .about-container .about-me .story h1, .about-container .about-me .story p {
    margin-right: 5px;
    margin-left: 5px;
  }
  .about-container .about-me .written-skills {
    display: none;
    flex: 0;
  }
  .about-container .about-me .skills {
    display: none;
  }
  .about-container .about-me .skills-logos {
    padding: 0;
    flex: 0;
    flex-direction: row;
  }
  .about-container .about-me .skills-logos img {
    width: 50%;
  }
  a {
    justify-content: left;
  }
}
.projects-container {
  padding-top: 75px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-container h1 {
  margin-bottom: 20px;
  font-size: 4em;
}
.projects-container .grid {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.projects-container .grid .first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projects-container .grid .second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projects-container .grid .project {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: transform 0.5s;
  width: 25%;
}
.projects-container .grid .project:hover {
  transform: scale(1.07);
}
.projects-container .grid .project .project-img {
  border-bottom: 1px solid black;
  height: 200px;
  border-radius: 10px;
}
.projects-container .grid .project .project-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.projects-container .grid .project .project-description {
  display: flex;
}
.projects-container .grid .project .project-description .logo {
  border-right: 1px solid black;
}
.projects-container .grid .project .project-description .logo img {
  max-width: 100%;
  max-height: 100%;
}
.projects-container .grid .project .project-description p {
  display: flex;
  justify-content: center;
  flex: 2;
  align-items: center;
}

@media (max-width: 700px) {
  .projects-container .grid .project {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .projects-container .grid .project {
    width: 100%;
  }
}
@media (min-width: 701px) and (max-width: 999px) {
  .projects-container .grid .project {
    width: 45%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: RGB(128, 0, 0);
  color: white;
}
footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.form-container {
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container h1 {
  padding-bottom: 30px;
  font-weight: lighter;
  font-size: 4rem;
}
.form-container form {
  width: 35%;
}
.form-container form ::placeholder {
  font-size: larger;
}
.form-container form .first-row {
  display: flex;
  justify-content: space-between;
}
.form-container form .second-row {
  display: flex;
  justify-content: space-between;
}
.form-container form input {
  width: 45%;
  height: 3em;
  border: 2px solid RGB(128, 0, 0);
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}
.form-container form textarea {
  margin-top: 10px;
  width: 100%;
  height: 10em;
  border-radius: 10px;
  border: 2px solid RGB(128, 0, 0);
  resize: vertical;
  max-height: 15em;
  outline: none;
}
.form-container .btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 3em;
}
.form-container .btn button {
  width: 30%;
  border: 2px solid RGB(128, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .form-container form {
    width: 90%;
  }
}
@media (min-width: 701px) and (max-width: 999px) {
  .form-container form {
    width: 90%;
  }
}
/* RGB(128, 0, 0)  bordeux scuro*/
/* rgb(238, 238, 238) primary color ufficiale*/
/* RGB(189, 201, 176) verde salvia*/
* {
  margin: 0;
}

body {
  background: linear-gradient(to top, rgb(238, 238, 238), rgb(205, 205, 205));
  color: black;
}

span {
  font-weight: bold;
  color: RGB(128, 0, 0);
}

/* background: linear-gradient(135deg, rgb(25, 42, 86), rgb(35, 35, 35));
 */