.about-container {
  
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  

  .about-me{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    height: 300px;
    
    .story{
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: top;
      h1{
        margin: 0;
      }
  
      p{
        margin: 0;
      }
    }

    .written-skills{
     display: flex;
     flex-direction: column;
     flex:1;
     align-items:end;
     padding-right: 20px;
     font-size: xx-large;

    }

    .skills{
     display: flex;
     flex-direction: column;
     font-size: xx-large;
     font-weight: bolder;
     flex-wrap: wrap;

     ul{
      padding: 0;
      list-style-type: none;
     }
    }

    .skills-logos{
      display: flex;
      flex-direction: column;
      flex:1;
      flex-wrap: wrap;
      padding-left: 20px;

      img{
        display: flex;
        object-fit: contain;
        width: 50%;
        height: 4em;
        padding-bottom: 10%;
      }
    }
    
  }
  a{
    display: flex;
    justify-content: center;

    .gallery {
      display: flex;
      justify-content: center;
      width: 75%;
      height: 10em;
      background-color: RGB(102, 10, 0);
      color:white;
  
      cursor: pointer;
    }
  }

  
  
  
}