.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 70px;

    span{
     color: red;
    }
  }

  
  

  .about-me{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    height: 400px;
    
    

    
    .story{
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: top;
      margin-left: 8%;

      h2{
        margin: 0;
        font-size: xx-large;
      }
  
      p{
        margin: 0;
        font-size: large;
      }
    }

    .skill-mobile{
      display: none;
    }

    .written-skills{
     display: flex;
     flex-direction: column;
     flex:1;
     align-items:end;
     padding-right: 20px;
     font-size: xx-large;

    }

    .skills{
     display: flex;
     flex-direction: column;
     font-size: xx-large;
     font-weight: bolder;
     flex-wrap: wrap;

     ul{
      padding: 0;
      list-style-type: none;
     }
    }

    .skills-logos{
      display: flex;
      flex-direction: column;
      flex:1;
      flex-wrap: wrap;

      img{
        display: flex;
        object-fit: contain;
        width: 50%;
        height: 4em;
        padding-bottom: 10%;
      }
    }
    
  }
  a{
    display: flex;
    justify-content: center;

    .gallery {
      display: flex;
      width: 80%;
      height: 20em;
      background-color: red;   /* RGB(238, 238, 238) */
      color:white;
      border-radius: 20px;
      cursor: pointer;

       .first-img{
        border-radius: 20px 0 0 20px;
        display: flex;
        flex: 1;
        }
       .second-img{
        border-radius: 0;
        display: flex;
        flex: 1;
        }
       .third-img{
        border-radius: 0 20px 20px 0;
        display: flex;
        flex: 1;
        }  
        
      
    }
  } 
}

@media(max-width:700px){
  .about-container{
    padding: 0;
    .about-me{
      flex-direction: column;
      height: 100%;
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;

      .skill-mobile{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .story{
        flex: 0;
        h1,p{
          margin-right: 5px;
          margin-left: 5px;
        }
      }

      .written-skills{
        display: none;
        flex: 0;
      }

      .skills{
        display: none;
      }

      .skills-logos{
        padding: 0;
        flex: 0;
        flex-direction: row;


        
        img{
          width: 50%;
        }
      }


    }
  }

a{
  justify-content: left;
}
}