.home {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;

  background-color: bisque;

  img{
    display: flex;
    align-items: center;
    width: 270px;
    height: 35s0px;
    border-radius: 150px;
  }

  .description{
    display: flex;
    flex-direction: column;
    width: 300px;
  
    h1 {
      margin: 0;
    }
  
    p {
      margin: 0;
    }
  
  }
}



