nav {
  background-color: $secondary-color;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  font-size: 20px;


 img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
 }

  ul {
    display: flex;
    list-style-type: none;
  }

  li{
    padding: 10px;
  }
  
  a {
    color: white; 
    text-decoration: none; 
  }

  a:hover{
    color: orange; 
  }

}


