.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 5rem;
  }

  .about-me{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    margin-bottom: 40px;
  
    .story{
      display: flex;
      flex: 0.8;
      flex-direction: column;
      align-items: top;
      margin-left: 8%;

      h2{
        margin: 0;
        font-size: xx-large;
      }
  
      p{
        margin: 0;
        font-size: large;
      }
    }

    .skills-container{
      display: flex;

      .skill-mobile{
        display: none;
      }
  
      .written-skills{
       display: flex;
       flex-direction: column;
       flex:1;
       align-items:end;
       padding-right: 20px;
       font-size: xx-large;
      }
  
      .skills{
       display: flex;
       flex-direction: column;
       font-size: xx-large;
       font-weight: 900;
       flex-wrap: wrap;
  
       ul{
        padding: 0;
        list-style-type: none;
       }
      }
  
      .skills-logos{
        display: flex;
        flex:1;
        flex-wrap: wrap;
        height: 400px;
  
        img{
          display: flex;
          width: 50%;
          height: 4em;
        }
      }

    }

    
  }
  
  a{
    display: flex;
    justify-content: center;

    .gallery {
      display: flex;
      width: 80%;
      height: 20em;
      color:white;
      border-radius: 20px;
      cursor: pointer;
      position: relative;

      .first-img{
        width: 33.3333%;
        border-radius: 20px 0 0 20px;
      }

      .second-img{
        width: 33.3333%;
      }

      .third-img{
        width: 33.3333%;
        border-radius: 0 20px 20px 0;
      }

      
 
        
        .overlay{
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          background: rgba($color: white, $alpha: 0.6);
          border-radius: 20px;
          color: $secondary-color;
          opacity: 0;
          transition: opacity 0.3s;
          font-size: 20px;
          backdrop-filter: blur(3px);
          font-size: 2em;
          font-weight: 900;
          
          &:hover{
            cursor: pointer;
            opacity: 1;
          }
        }
    }
  }
  .btn-gallery{
    display: none;
  }
}

@media(max-width:700px){
  .about-container{
    padding: 0;
    
    h1{
      margin-bottom: 0;
      font-size: 4rem;
    }

    .about-me{
      flex-direction: column;
      height: 100%;
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;

      .story{
        margin: 1px;
        text-align: center;
      }

      .skills-container{
        flex-direction: column;
        .skill-mobile{
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 10px;
        }
  
        .written-skills{
          display: none;
          flex: 0;
        }
  
        .skills{
          display: none;
        }
  
        .skills-logos{
          padding: 0;
          flex: 0;
          flex-direction: row;
  
          img{
            width: 50%;
          }
        }
      }
    }

    a{
      display: none;
    }

 .btn-gallery{
  display: flex;
  justify-content: center;
  text-decoration: none;
    
  button{
    color: white;
    width: 33%;
    font-size: large;
    height: 5rem;
    border-radius: 10px;
    background-color: $secondary-color;
    border-style: none;
    transition: opacity 0.3s;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
  }
 }
  }
}

@media(min-width:701px) and (max-width:1199px) {
  .about-container{
    .about-me{
      flex-direction: column;

      .story{
        margin-bottom: 30px;
        margin-left: 0;
      }
      
      .skills-container{
        .written-skills{
          align-items: flex-start;
        }
      }
    }
  }
}

@media(min-width:700px) and (max-width:1000px){
  .about-container{
    a{
      .gallery{
        .first-img{
          width: 50%;
        }
        .second-img{
          width: 50%;
        border-radius: 0 20px 20px 0;
        }
        .third-img{
          display: none;
        }
      }
    }
  }
}


