@import "menu";
@import "home";
@import "about";
@import "project";
@import "footer";
@import "form";


*{
  margin:0;
}


html{
  background: linear-gradient(135deg, rgb(25, 42, 86), rgb(35, 35, 35));
  color:white;
}


/* background: linear-gradient(135deg, rgb(25, 42, 86), rgb(35, 35, 35));
 */
