@import "menu";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";
@import "footer";
@import "config";

$primary-color: linear-gradient(to top, 
rgb(238,238,238), rgb(205, 205, 205));
$secondary-color:  RGB(128, 0, 0);



*{
  margin:0;
  font-family: 'Nunito', sans-serif;
}


body{
  background: $primary-color;
  color:black;
  
}

span{
  font-weight: 900;
  color: $secondary-color
}
/* background: linear-gradient(135deg, rgb(25, 42, 86), rgb(35, 35, 35));
 */
